._8amSWb {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    display: flex;
    align-items: center;
    padding: .75rem;
    z-index: 10;
    background-color: #fff
}

@media (min-width:37.5rem) {
    ._8amSWb {
        position: relative;
        height: 5.25rem;
        padding: 0 1.875rem
    }
}

.jFB1zL {
    border-bottom: 0
}

@media (min-width:37.5rem) {
    .jFB1zL {
        padding: 0
    }
}

._8APVN5 {
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

._8APVN5 svg {
    width: 1.3125rem;
    height: 1.125rem;
    fill: #ee4d2d
}

@media (min-width:37.5rem) {
    ._8APVN5 svg {
        fill: rgba(0, 0, 0, .4)
    }
}

._2xyV2H {
    flex: 1;
    margin-left: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .87)
}

@media (min-width:37.5rem) {
    ._2xyV2H {
        font-size: 1.375rem
    }
}

.stardust-icon {
    stroke: currentColor;
    fill: currentColor;
    width: 1em;
    height: 1em
}

._63SAbR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    line-height: 24px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    ._63SAbR {
        width: 31.25rem;
        line-height: 1.25rem;
        padding: 1.875rem 0 1.25rem;
        margin: 0 auto
    }
}

.JyiURA {
    width: 100%;
    margin-top: 5px;
    white-space: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, .54)
}

.Hs\+zIM {
    min-width: 143px;
    text-transform: capitalize
}

._2lIXTj {
    margin-left: 6px;
    color: #ee4d2d;
    font-weight: 500;
    display: flex;
    flex-direction: row
}

._2lIXTj .q6u9Hm {
    color: #26aa99;
    margin-left: 4px;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width:37.5rem) {
    ._2lIXTj .q6u9Hm {
        margin-left: 1.4375rem
    }
}

.x5w5lL {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.x5w5lL .oNR7nw {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 6px
}

.x5w5lL .oNR7nw .MiuG9m {
    width: 100%;
    white-space: normal;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    align-self: flex-start
}

.x5w5lL .oNR7nw .x6a2g0 {
    cursor: pointer;
    margin-left: .125rem
}

.hM5YGH {
    color: #fff;
    background: #ee4d2d;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 0 3vw;
    text-align: center;
    font-size: 1rem;
    line-height: 1.25rem;
    height: 2.75rem;
    line-height: 2.75rem;
    border-radius: 0 .125rem .125rem 0
}

@media (min-width:37.5rem) {
    .hM5YGH {
        width: 8.375rem;
        padding: 0
    }
}

.LKYRcS {
    margin-top: .625rem;
    margin-bottom: .625rem;
    background-color: #fff
}

@media (min-width:37.5rem) {
    .LKYRcS {
        width: 31.25rem;
        margin: auto;
        padding: 1.25rem 0
    }
}

.UoLFNB {
    display: flex;
    align-items: center;
    padding-left: .75rem;
    height: 3rem
}

@media (min-width:37.5rem) {
    .UoLFNB {
        padding: 0;
        height: 1.5rem
    }
}

.FAq7zl img {
    height: 1.5rem;
    width: 1.5rem
}

._6La-8N {
    margin-left: .75rem
}

@media (min-width:37.5rem) {
    ._6La-8N {
        margin-left: .5rem
    }
}

.UM7XVI {
    margin-bottom: .625rem;
    font-size: .875rem
}

.UM7XVI .orangeText {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.ypaT2F {
    margin-bottom: .75rem
}

.xn34vm {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.Jo9f-o {
    margin-left: 3rem;
    padding: .75rem 0;
    border-top: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .Jo9f-o {
        margin-left: 2.0625rem;
        padding: 1.375rem 0 0;
        border: 0
    }
}

.qC5Juf {
    font-size: .75rem
}

@media (min-width:37.5rem) {
    .qC5Juf {
        font-size: .875rem
    }
}

.dL0tmO {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .375rem;
    padding-right: .75rem
}

@media (min-width:37.5rem) {
    .dL0tmO {
        justify-content: flex-start
    }
}

.xMnbwh {
    font-size: 1.25rem;
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.S2f2T\+ {
    margin-left: 3rem;
    padding: .75rem 0;
    border-top: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .S2f2T\+ {
        margin-left: 2.0625rem;
        padding: 1.375rem 0 0;
        border: 0
    }
}

.LUY-W7 {
    font-size: .75rem
}

@media (min-width:37.5rem) {
    .LUY-W7 {
        font-size: .875rem
    }
}

._9L1M4v {
    margin-top: .375rem;
    padding-right: .75rem;
    font-size: 1.25rem;
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.FxsmEB {
    color: #26aa99;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width:37.5rem) {
    .FxsmEB {
        margin-left: 1.4375rem
    }
}

.AkrZI0 {
    margin-left: 3rem;
    padding-bottom: .75rem;
    padding-right: .75rem;
    font-size: .75rem;
    border-top: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .AkrZI0 {
        margin-left: 2.0625rem;
        padding: 0;
        font-size: .875rem;
        border: 0
    }
}

.UpM7Oj {
    color: #26aa99;
    margin-top: .75rem
}

@media (min-width:37.5rem) {
    .UpM7Oj {
        margin-top: 1.25rem
    }
}

.OqLS8n {
    margin-top: .75rem
}

@media (min-width:37.5rem) {
    .OqLS8n {
        margin-top: 1.25rem
    }
}

.stardust-dropdown {
    position: relative
}

.stardust-dropdown__item-body {
    transition: height .4s cubic-bezier(.4, 0, .2, 1), opacity .4s cubic-bezier(.4, 0, .2, 1);
    height: 0;
    opacity: 0;
    overflow: hidden
}

.stardust-dropdown__item-body--open {
    height: auto;
    opacity: 1
}

.E8Ja83 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    padding: 1rem .75rem;
    line-height: 1rem
}

.E8Ja83 .boldText {
    font-weight: 700
}

.E8Ja83 .orangeText {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.E8Ja83 .txtNewline {
    margin-top: .25rem
}

.E8Ja83 .txtNewline:first-child {
    margin-top: 0
}

._6rDRkz {
    border-bottom-width: 0
}

.CMDquf {
    height: .75rem;
    width: .75rem;
    fill: rgba(0, 0, 0, .54);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.o6s44b {
    padding: 0 .9375rem;
    margin-top: 1.25rem;
    margin-bottom: .75rem
}

._51HZiv {
    padding: 0 .9375rem 0 1.5625rem;
    margin-top: .3125rem
}

._51HZiv:first-child {
    margin-top: .9375rem
}

@media (min-width:37.5rem) {
    ._51HZiv:first-child {
        margin-top: 1.0625rem
    }
}

.ps9mFI {
    display: flex
}

.o6s44b:first-child {
    margin-top: .9375rem
}

@media (min-width:37.5rem) {
    .o6s44b:first-child {
        margin-top: 1.0625rem
    }
}

.onq0GI {
    border-bottom: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .onq0GI {
        border: 0
    }
}

.onq0GI .boldText {
    font-weight: 700
}

.onq0GI .orangeText {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.onq0GI .txtNewline {
    margin-top: .25rem
}

.onq0GI .txtNewline:first-child {
    margin-top: 0
}

.onq0GI ol {
    padding-left: 0;
    list-style: none
}

.RQJ2gs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .875rem;
    height: .875rem;
    font-size: .6875rem;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    flex-shrink: 0
}

.RQJ2gs+.kSy9xu {
    margin-left: .625rem;
    margin-top: -.0625rem
}

.kSy9xu {
    flex: 1;
    color: rgba(0, 0, 0, .54);
    font-size: .875rem;
    line-height: 1rem;
    word-wrap: break-word
}

@media (min-width:37.5rem) {
    .kSy9xu {
        font-size: .875rem
    }
}

.WD6FY\+ {
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: #4080ee;
    font-size: .75rem;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    cursor: pointer
}

._0xuDbr {
    flex: 1;
    color: #979797;
    font-size: .75rem;
    line-height: 1.125rem;
    word-wrap: break-word
}

@media (min-width:37.5rem) {
    ._0xuDbr {
        font-size: .75rem
    }
}

.gUmBT7 {
    background-color: #fff
}

@media (min-width:37.5rem) {
    .gUmBT7 {
        width: 31.25rem;
        margin: auto
    }
}

.TZMmxb {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 1.875rem;
    padding: 0 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ee4d2d;
    border-radius: .125rem;
    background: #fff;
    color: #ee4d2d;
    font-weight: 500;
    z-index: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.TZMmxb svg {
    height: 1rem;
    width: 1rem;
    margin-right: .5rem
}

.xP0UMM {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.125rem;
    background: #fff;
    margin-top: .625rem;
    margin-bottom: .625rem
}

@media (min-width:37.5rem) {
    .xP0UMM {
        width: 31.25rem;
        margin-left: auto;
        margin-right: auto
    }
}

@media (max-width:37.5rem) {
    .xP0UMM {
        height: auto;
        padding-bottom: 1.25rem
    }
}

@media (min-width:37.5rem) {
    .xP0UMM+* {
        margin-top: -4.875rem
    }
}

.zRxTBy {
    margin-top: 1.25rem;
    font-size: 1.125rem
}

.nvXeGM {
    color: #ee4d2d
}

.hN2Eap {
    color: #30b566
}

.Y-gdok {
    margin-top: .5rem;
    color: rgba(0, 0, 0, .87);
    font-size: .875rem;
    padding: 0 .75rem
}

.odD9nY {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 16rem
}

.rSCGUe {
    pointer-events: all!important;
    -webkit-touch-callout: unset!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.LzXLpw {
    opacity: .04
}

.heDux\+ {
    margin: auto
}

.LP-KBU {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    background-color: #6c6;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center
}

.LP-KBU svg {
    width: 2.8125rem;
    height: 2rem
}

.z-epMO {
    color: #333;
    font-size: 1.125rem
}

.ATW5iF,
.z-epMO {
    margin-top: 1.25rem
}

.ATW5iF {
    width: 7.5rem
}

._1F-DKd {
    box-sizing: border-box;
    width: 1.5rem;
    overflow: hidden;
    border-radius: 2px;
    flex-shrink: 0;
    margin-right: .5625rem;
    font-size: 14px;
    line-height: 16px
}

@media (min-width:37.5rem) {
    ._1F-DKd {
        margin-left: 0
    }
}

.WiCrE\+ {
    display: flex;
    align-self: stretch;
    align-items: center;
    padding: 1rem .75rem
}

@media (min-width:37.5rem) {
    .WiCrE\+ {
        padding-left: 0;
        padding-right: 0
    }
}

._5DrvB9 {
    text-align: center
}

._5DrvB9.XpgXbN {
    opacity: .3
}

.F58o-7 {
    margin: 1.5rem 0 .75rem;
    color: rgba(0, 0, 0, .87)
}

.DBynOB {
    font-size: .75rem;
    color: rgba(0, 0, 0, .54);
    word-break: break-all;
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
    border-radius: 4px;
    padding: .75rem 1.875rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 17.3125rem
}

.NHn6OT {
    margin-top: 1rem
}

.NHn6OT._2mSbkl {
    border: 0;
    color: rgba(0, 0, 0, .26);
    cursor: not-allowed
}

.NHn6OT._2mSbkl,
.NHn6OT._2mSbkl:hover {
    background: rgba(0, 0, 0, .09)
}

.NHn6OT.EGksiB {
    color: #222;
    border-color: #929292
}

.agRPaR {
    font-size: .875rem;
    color: #ee4d2d;
    margin: .75rem 0 0
}

@media (min-width:37.5rem) {
    .agRPaR {
        margin: 12px 0 0
    }
}

.AwZmwu {
    text-align: center;
    font-size: .875rem;
    color: rgba(0, 0, 0, .54);
    margin: .75rem 0 0;
    padding: 0 .75rem
}

@media (min-width:37.5rem) {
    .AwZmwu {
        margin: 12px 0 0;
        padding: 0 12px
    }
}

.AwZmwu div {
    margin-top: .375rem
}

.AwZmwu div:first-child {
    margin-top: 0
}

.Ml8aD1 {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    margin: .75rem 0
}

@media (min-width:37.5rem) {
    .Ml8aD1 {
        margin: 12px 0
    }
}

.c9iZsS {
    width: 100%;
    padding: 0 .25rem
}

@media (min-width:37.5rem) {
    .c9iZsS {
        padding: 0 4px
    }
}

.WfwLea {
    height: 3.375rem;
    background-color: #0e3d67;
    text-align: center
}

@media (min-width:37.5rem) {
    .WfwLea {
        height: 54px;
        text-align: center
    }
}

.WfwLea img {
    height: 2.875rem;
    margin: .25rem auto
}

@media (min-width:37.5rem) {
    .WfwLea img {
        margin: 4px auto;
        height: 46px
    }
}

._2duV85 {
    padding: .75rem 0 0;
    text-align: center
}

@media (min-width:37.5rem) {
    ._2duV85 {
        padding: 0 4px;
        text-align: center
    }
}

._2duV85 img {
    height: 2.5rem;
    margin: .25rem auto
}

@media (min-width:37.5rem) {
    ._2duV85 img {
        margin: 4px auto;
        height: 40px
    }
}

.AHP6P5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.goHsR2 {
    margin: 0
}

.iqEPeA {
    margin: 0 .375rem;
    color: #ee4d2d
}

.xc4izB {
    text-align: center;
    font-size: .875rem;
    color: rgba(0, 0, 0, .54);
    margin: .75rem 0;
    padding: 0 .75rem
}

@media (min-width:37.5rem) {
    .xc4izB {
        margin: 12px 0 0;
        padding: 0 12px
    }
}

.xc4izB div {
    margin-top: .375rem
}

.xc4izB div:first-child {
    margin-top: 0
}

._3sjFp {
    border-radius: .125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    overflow: hidden;
    outline: none;
    flex: 0 0 auto;
    position: relative
}

._3sjFp:active:before {
    content: "";
    background-color: rgba(0, 0, 0, .05);
    background-color: var(--nc-util-pressed, rgba(0, 0, 0, .05));
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0
}

.lJMau {
    height: 2.75rem
}

._3zn07 {
    height: 2.25rem;
    min-width: 4rem
}

._18F8b {
    height: 1.75rem;
    min-width: 4rem;
    padding: 0 .75rem
}

.uxSdp {
    height: 1.25rem;
    min-width: 3.25rem;
    padding: 0 .5rem
}

.xCn81 {
    background: transparent
}

.TOjHY.AHhqR {
    color: #fff;
    border: .0625rem solid transparent;
    background: #ee4d2d;
    background: var(--nc-primary, #ee4d2d)
}

.TOjHY.xCn81 {
    color: #ee4d2d;
    color: var(--nc-primary, #ee4d2d);
    border: .0625rem solid #ee4d2d;
    border: .0625rem solid var(--nc-primary, #ee4d2d)
}

._1-4Xn.xCn81 {
    color: rgba(0, 0, 0, .87);
    color: var(--nc-text-primary, rgba(0, 0, 0, .87));
    border: .0625rem solid rgba(0, 0, 0, .26)
}

._1qQAl.xCn81 {
    color: #fff;
    border: .0625rem solid #fff
}

._3sjFp:disabled {
    color: rgba(0, 0, 0, .26);
    color: var(--nc-util-disabled, rgba(0, 0, 0, .26))
}

._3sjFp:disabled.xCn81 {
    border-color: rgba(0, 0, 0, .09);
    border-color: var(--nc-util-line, rgba(0, 0, 0, .09))
}

._3sjFp:disabled._1qQAl.xCn81 {
    border-color: hsla(0, 0%, 100%, .54);
    color: hsla(0, 0%, 100%, .4)
}

._3sjFp:disabled.TOjHY.AHhqR {
    background: rgba(0, 0, 0, .09)
}

._2HCeY {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

._19rDu {
    margin-left: .25rem
}

.iV-Rgd {
    box-sizing: border-box;
    padding: 12px;
    background-color: #fff
}

.iV-Rgd,
.Q7v-Ss {
    width: 100%;
    text-align: center
}

.Q7v-Ss {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 12px 0;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width:37.5rem) {
    .Q7v-Ss {
        padding: 12px 24px
    }
}

.ZZlZqU {
    background-color: #ee4d2d;
    border: 1px solid #ee4d2d;
    color: #fff
}

.ZZlZqU:hover {
    background-color: #f05d40
}

.ZZlZqU:disabled {
    color: rgba(0, 0, 0, .26);
    background-color: rgba(0, 0, 0, .09);
    border-color: rgba(0, 0, 0, .09);
    cursor: not-allowed
}

.M7MlrC {
    border: 1px solid rgba(0, 0, 0, .26);
    background-color: #fff
}

.M7MlrC:hover {
    color: #ee4d2d;
    border-color: #ee4d2d
}

.UHRdfQ {
    background: #000;
    min-width: 120px
}

.UHRdfQ svg {
    fill: none;
    stroke: none;
    width: auto;
    height: auto
}

._7zrlU4 {
    justify-content: flex-end
}

._7zrlU4 button {
    width: 100%!important
}

.lsDgvv {
    --apple-pay-button-width: 100%;
    --apple-pay-button-height: 45px
}

._7Hb2cS {
    font-size: 16px;
    line-height: 16px
}

@media (min-width:600px) {
    ._7Hb2cS {
        width: 500px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        background-color: #fff
    }
}

.wMjtEn {
    display: flex;
    flex-direction: column;
    padding: 12px
}

@media (min-width:600px) {
    .wMjtEn {
        padding: 30px 0 40px;
        width: 220px;
        min-width: 150px;
        margin-left: 10px
    }
}

.TSvDl6 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 8px calc(env(safe-area-inset-bottom, 0) + 8px);
    background-color: #fff
}

@media (min-width:37.5rem) {
    .TSvDl6 {
        position: relative;
        width: 300px;
        min-width: 150px;
        padding: 30px 0 40px
    }
}

._54gOnW {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: #fff;
    padding: 0 10px;
    z-index: 0
}

@media (min-width:600px) {
    ._54gOnW {
        max-width: 1180px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .14);
        border-radius: 3px
    }
}

._54gOnW .wMjtEn {
    width: 180px;
    min-width: 150px
}

@media (min-width:600px) {
    ._54gOnW .wMjtEn {
        padding: 20px 0
    }
}

._54gOnW .wMjtEn:first-child {
    margin-left: 0
}

.C824RD {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background: #fff;
    padding: 0 10px;
    z-index: 0
}

.C824RD .wMjtEn {
    padding: 5px
}

.wWO1KB {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 34.375rem;
    background-color: #fff
}

.LhemA2 {
    margin-top: 4.6875rem;
    font-size: 1.125rem;
    color: #ee4d2d
}

.P\+6dt1 {
    margin-top: .5rem;
    max-width: 425px;
    text-align: center;
    color: rgba(0, 0, 0, .87);
    font-size: .875rem;
    word-wrap: break-word
}

.G3V8jg {
    margin: 4.0625rem auto
}

.cUJ7S8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .75rem;
    background-color: #fff;
    white-space: nowrap;
    line-height: 3rem;
    font-size: .875rem;
    border-bottom: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .cUJ7S8 {
        width: 31.25rem;
        font-size: 1rem;
        padding: 1.25rem 0;
        border-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
        margin: 0 auto
    }
}

.InNr0D {
    min-width: 7.5rem;
    flex: 1 1 auto
}

.rKYL\+U {
    text-align: right;
    flex: 1 1 auto
}

.Dv7-JM {
    line-height: 1.25rem;
    color: #ee4d2d;
    font-weight: 500
}

._31AP98,
.Dv7-JM {
    white-space: normal
}

._31AP98 {
    font-size: .875rem;
    line-height: 1rem;
    margin-top: .125rem;
    color: rgba(0, 0, 0, .54)
}

.i0DwMo {
    color: rgba(0, 0, 0, .87);
    font-weight: 400
}

.Q2BxIC {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .75rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    font-size: .875rem
}

.Q2BxIC._8v\+VxJ {
    padding: .75rem
}

@media (min-width:37.5rem) {
    .Q2BxIC,
    .Q2BxIC._8v\+VxJ {
        padding: 1.25rem 0
    }
    .Q2BxIC {
        width: 31.25rem;
        font-size: 1rem;
        line-height: 1.25rem;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
        margin: 0 auto
    }
}

.djt1y5 {
    display: flex;
    flex-direction: column;
    min-width: 8.9375rem;
    line-height: 1.25rem
}

.nJ5EWx {
    font-size: .75rem;
    font-weight: 300;
    line-height: 16px;
    color: rgba(0, 0, 0, .54)
}

.HShven {
    display: flex;
    align-items: center
}

.HShven,
.WQ9hYB {
    text-align: right;
    margin-left: .375rem
}

.WQ9hYB {
    overflow: hidden;
    word-break: break-word
}

._6gMrZs {
    display: inline-block;
    width: 1.5rem;
    height: auto;
    overflow: hidden;
    max-height: 1.5rem;
    vertical-align: middle
}

.peKciA {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .75rem 0;
    background: #fff
}

@media (min-width:37.5rem) {
    .peKciA {
        padding: 1.25rem 0 1.5625rem;
        width: 31.25rem;
        margin: 0 auto
    }
}

.U\+yDXg {
    display: flex;
    font-size: .875rem;
    line-height: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    margin-top: .125rem
}

@media (min-width:37.5rem) {
    .U\+yDXg {
        font-size: 1rem;
        line-height: 1.25rem;
        padding-bottom: 1.375rem;
        border-bottom: 0;
        margin-top: .1875rem
    }
}

.CoQ1CT {
    box-sizing: border-box;
    height: 1.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 2px;
    flex-shrink: 0;
    margin-left: .75rem
}

@media (min-width:37.5rem) {
    .CoQ1CT {
        margin-left: 0
    }
}

.dIkHQ6 {
    flex: 1;
    margin-left: .5rem
}

.nAI\+wD {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .75rem
}

._1ca0Bk {
    font-size: .875rem;
    line-height: 1rem
}

@media (min-width:37.5rem) {
    ._1ca0Bk {
        margin-top: 0
    }
}

.p8VPKp {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: .375rem;
    color: #ee4d2d
}

@media (min-width:37.5rem) {
    .p8VPKp {
        font-weight: 500;
        margin-top: .25rem
    }
}

.hw-DPC {
    outline: 0;
    border: 0;
    background: #3a7af5;
    border-radius: 5px;
    padding: .3125rem .5rem;
    margin-right: 1.625rem;
    color: #fff;
    font-size: .875rem
}

.hw-DPC:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    opacity: .9
}

.r3iigf {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}

@media (min-width:37.5rem) {
    .r3iigf {
        width: 31.25rem;
        margin: 0 auto;
        padding-bottom: 9px
    }
}

.rIrCGt {
    display: flex;
    align-self: stretch;
    align-items: center;
    height: 48px
}

@media (min-width:37.5rem) {
    .rIrCGt {
        padding-top: 7px;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 0
    }
}

.xkdHqs {
    height: 24px;
    width: 24px;
    margin: 11px 7px 11px 11px;
    padding: 1px
}

@media (min-width:37.5rem) {
    .xkdHqs {
        margin-left: 0
    }
}

.nk18bL {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .nk18bL {
        border-bottom: 0
    }
}

._3zUoN7 {
    font-size: 14px;
    line-height: 16px
}

@media (min-width:37.5rem) {
    ._3zUoN7 {
        font-size: 16px;
        line-height: 20px
    }
}

.\+6BRgi {
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
    line-height: 14px
}

@media (min-width:37.5rem) {
    .\+6BRgi {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px
    }
}

.ZF89yr {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px
}

@media (min-width:37.5rem) {
    .ZF89yr {
        margin-top: 22px
    }
}

.dQkQbp {
    justify-self: center;
    padding-top: 24px;
    font-size: 12px
}

.dQkQbp,
.dQkQbp .oXV5sV {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative
}

.dQkQbp .oXV5sV {
    justify-content: center
}

.dQkQbp .we0M3O {
    width: 85%;
    margin-bottom: 12px;
    display: block;
    min-height: 60px
}

.dQkQbp .vF4KQ6 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 100%, .96);
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.\+SPg7o {
    display: flex
}

.eXOwNp {
    width: 120px;
    margin: 12px 6px
}

.kVs55H {
    margin-top: 12px;
    text-align: center
}

.Rdto4S {
    color: #ee4d2d
}

.abOTZV {
    color: rgba(0, 0, 0, .54)
}

.IIXqhc {
    width: 100%;
    height: 100%
}

.Ynz5nm {
    opacity: .1
}

.PRaMHg {
    position: absolute
}

.PRaMHg:hover {
    background: #fff
}

.c419Yy {
    margin-top: 12px
}

.stardust-popup {
    display: flex;
    align-items: center
}

.stardust-popup,
.stardust-popup__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.stardust-popup__overlay {
    background: rgba(0, 0, 0, .4)
}

.stardust-popup__dialog {
    background: #fff;
    border-radius: 4px;
    margin: auto 34px
}

.stardust-popup__dialog--wrapper {
    max-width: 375px;
    width: 100%;
    z-index: 2;
    margin: 0 auto
}

.stardust-popup__dialog--wrapper-top {
    padding: 20px 20px 0
}

.stardust-popup-title {
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    text-align: center
}

.stardust-popup-content,
.stardust-popup-title {
    font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 400
}

.stardust-popup-content {
    font-size: 14px;
    text-align: left;
    color: rgba(0, 0, 0, .54)
}

.stardust-popup-buttons {
    margin-top: 26px;
    display: flex;
    align-content: space-between
}

.stardust-popup-button {
    font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    color: #ee4d2d;
    border-top: 1px solid rgba(0, 0, 0, .09);
    flex: 1 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-align: center
}

.stardust-popup-button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, .09)
}

.yOPyx8 {
    line-height: 48px;
    font-size: 14px;
    overflow: hidden
}

@media (min-width:37.5rem) {
    .yOPyx8 {
        width: 500px;
        font-size: 16px;
        line-height: 1.25rem;
        margin: 0 auto
    }
}

.fPjtFX {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background-color: #fff;
    line-height: 48px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .fPjtFX {
        width: 500px;
        font-size: 16px;
        line-height: 1.25rem;
        padding: 1.875rem 0 1.25rem;
        border-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
        margin: 0 auto
    }
}

.OfX95f {
    display: flex;
    width: 100%;
    justify-content: center
}

.ptzf96 {
    box-sizing: border-box;
    padding: 0;
    outline: none;
    background-color: transparent;
    flex: 0 0 auto;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    width: 36px;
    height: 36px;
    margin: 10px 10px 20px;
    text-align: center;
    font: small-caption;
    border: 1px solid #bdbdbd;
    font-size: 20px;
    font-weight: 500;
    color: transparent;
    caret-color: transparent;
    text-shadow: 0 0 0 #333
}

.ptzf96.vC5ZjZ {
    border: 1px solid rgba(0, 0, 0, .56)
}

.ptzf96:-webkit-autofill {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

.ptzf96[type=number]::-webkit-inner-spin-button,
.ptzf96[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.ptzf96[type=number] {
    -moz-appearance: textfield
}

.A\+VTCH {
    align-items: flex-start;
    flex-direction: column
}

.k4Jjbv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background: #fff;
    line-height: 48px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .k4Jjbv {
        width: 500px;
        font-size: 16px;
        line-height: 1.25rem;
        padding: 1.875rem 0 1.25rem;
        border-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
        margin: 0 auto
    }
}

.QHdSZx {
    flex: 1;
    border: 1px solid rgba(65, 34, 34, .13);
    border-radius: .1875rem
}

.klhzrO,
.PR13jK,
.VtvTdz {
    position: relative;
    padding: 0 12px;
    background-color: #fff;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, .09)
}

.klhzrO {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff
}

@media (min-width:37.5rem) {
    .klhzrO {
        padding: 0 0 24px;
        border-bottom: 1px solid rgba(0, 0, 0, .09)
    }
}

.hWZ9l\+ {
    display: flex;
    align-items: center
}

.nEN\+0z {
    border-bottom: 0
}

.PR13jK .rnJ1gN {
    text-align: left;
    padding: 0
}

.PR13jK .UWTOFG {
    line-height: 12px;
    padding-top: 16px;
    padding-bottom: 4px
}

@media (min-width:37.5rem) {
    .PR13jK {
        padding: 12px 0;
        line-height: 40px
    }
}

.oVGUot {
    padding: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, .54);
    font-size: 12px
}

@media (min-width:37.5rem) {
    .oVGUot {
        padding: 0;
        display: inline-block
    }
}

.a0lSca {
    padding: 24px 32px 8px;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    text-align: center
}

@media (min-width:37.5rem) {
    .a0lSca {
        padding: 12px 0
    }
}

._1T7V69 {
    padding: 0 24px 40px;
    line-height: 22px;
    color: rgba(0, 0, 0, .87);
    font-size: 18px;
    text-align: center
}

@media (min-width:37.5rem) {
    ._1T7V69 {
        padding: 12px 0
    }
}

.XhlN4\+ {
    text-align: left!important;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 12px;
    color: rgba(0, 0, 0, .87)
}

.MsuBlm {
    margin: 0 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .87);
    padding: 0
}

.rTkH4H {
    height: 100vh
}

._2Um-hx,
.rTkH4H {
    background-color: #fff
}

.UWTOFG {
    min-width: 143px
}

.Qso67m {
    display: flex;
    flex: 1;
    align-items: center
}

.rnJ1gN {
    flex: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    box-shadow: none;
    text-align: right;
    outline: 0;
    box-sizing: border-box;
    line-height: 48px
}

.rnJ1gN::placeholder {
    color: rgba(0, 0, 0, .26)
}

.m3QTiN {
    flex: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    box-shadow: none;
    border-radius: 2px;
    box-sizing: border-box;
    padding-left: 12px;
    line-height: 44px;
    border: 1px solid rgba(0, 0, 0, .09)
}

.m3QTiN::placeholder {
    color: rgba(0, 0, 0, .26)
}

.TsV1-G {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .26)
}

.TsV1-G:after,
.TsV1-G:before {
    content: " ";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 8px;
    height: 2px;
    background-color: #fff
}

.TsV1-G:after {
    transform: rotate(45deg)
}

.TsV1-G:before {
    transform: rotate(-45deg)
}

.eGsBnR {
    margin-left: 10px
}

._5gYLFr {
    z-index: 9001
}

.Zfa5BD {
    width: 230px;
    height: 150px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/efe3e98a2426b9d36d86f6739ad69b55.png)
}

.N47qbz,
.Zfa5BD {
    margin: 12px auto 0
}

.N47qbz {
    width: 100%;
    text-align: center
}

.nJfk-q {
    padding-left: 12px;
    background: #fff4f4;
    font-size: 12px
}

._4lB7Rq,
.nJfk-q {
    height: 30px;
    color: #ee2c4a;
    line-height: 30px;
    overflow: hidden
}

._4lB7Rq {
    width: 355px;
    padding: 5px 0;
    float: right;
    position: relative;
    margin-top: -24px
}

.hPpEO- {
    border-color: #ee2c4a
}

.LNMPk4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff
}

@media (min-width:37.5rem) {
    .LNMPk4 {
        width: 31.25rem;
        margin: 0 auto
    }
}

@media (max-width:37.5rem) {
    .LNMPk4 {
        position: absolute;
        top: 0;
        min-width: 100%
    }
}

._3u3Nqg {
    background: #fff
}

@media (max-width:37.5rem) {
    ._3u3Nqg {
        min-height: calc(100vh - 56px);
        margin-top: 56px
    }
}

@media (min-width:37.5rem) {
    ._3u3Nqg {
        margin: 40px auto 0;
        padding-bottom: 130px
    }
}

.iCCDmq {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, .7)
}

@media (min-width:37.5rem) {
    .iCCDmq {
        text-align: center;
        padding-top: 20px;
        margin: 0 auto;
        width: 250px;
        font-size: 16px;
        line-height: 19px
    }
}

.XR-30a {
    margin-top: 8px;
    font-size: 16px;
    color: #000;
    font-weight: 500
}

._5Q720U {
    width: 343px;
    margin: 20px auto 0;
    color: #ff424f
}

@media (min-width:37.5rem) {
    ._5Q720U {
        width: 315px;
        margin: 20px auto 0
    }
}

.gDLhkh {
    display: flex;
    justify-content: space-between;
    width: 343px;
    margin: 30px auto 0
}

@media (min-width:37.5rem) {
    .gDLhkh {
        width: 335px
    }
}

@media (max-width:37.5rem) {
    .XtNlBd+.XtNlBd {
        margin-left: -1px
    }
}

.XtNlBd {
    box-sizing: border-box;
    padding: 0;
    margin: 0 10px;
    outline: none;
    background-color: transparent;
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    box-shadow: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    font: small-caption;
    font-size: 28px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0
}

.XtNlBd:-webkit-autofill {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

.XtNlBd.r2Q8Mj {
    border-bottom: 1px solid rgba(0, 0, 0, .56)
}

.XtNlBd.gyYZ1N,
.XtNlBd.r2Q8Mj.gyYZ1N {
    background: rgba(255, 66, 79, .05);
    border-bottom: 1px solid #ff424f
}

@media (min-width:37.5rem) {
    .XtNlBd {
        border-bottom: 1px solid rgba(0, 0, 0, .14);
        border-radius: 0;
        width: 40px;
        height: 50px;
        font-weight: 500
    }
}

._5Q720U+.nRIIho {
    margin-top: 20px
}

.nRIIho {
    display: block;
    width: calc(100% - 13px);
    height: 44px;
    max-width: 350px;
    margin: 29px auto 0;
    font-size: 16px
}

@media (min-width:37.5rem) {
    .nRIIho {
        margin-top: 40px;
        width: 315px
    }
}

.i\+xVZD {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, .65)
}

.i\+xVZD .orangeText {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

@media (min-width:37.5rem) {
    .i\+xVZD {
        margin-top: 31px
    }
}

.EAPJHK {
    color: rgba(0, 0, 0, .54)
}

.YXwHqS {
    border: 0;
    color: #08f;
    cursor: pointer
}

.bjG5N1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff
}

@media (min-width:37.5rem) {
    .bjG5N1 {
        width: 31.25rem;
        margin: 0 auto
    }
}

@media (max-width:37.5rem) {
    .bjG5N1 {
        position: absolute;
        top: 0;
        min-width: 100%
    }
}

.ZCWHuE {
    background: #fff
}

@media (max-width:37.5rem) {
    .ZCWHuE {
        min-height: calc(100vh - 56px);
        margin-top: 56px
    }
}

@media (min-width:37.5rem) {
    .ZCWHuE {
        margin: 40px auto 0;
        padding-bottom: 130px
    }
}

.P1i63W {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, .7)
}

@media (min-width:37.5rem) {
    .P1i63W {
        text-align: center;
        padding-top: 20px;
        margin: 0 auto;
        width: 250px;
        font-size: 16px;
        line-height: 19px
    }
}

.m28tf4 {
    font-size: 14px;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .65);
    margin: auto 30px;
    text-align: center
}

.gjsOpK {
    margin-top: 8px;
    font-size: 18px;
    color: #000;
    font-weight: 500
}

.zuwBFB {
    margin: 20px auto 0;
    color: #ff424f
}

@media (min-width:37.5rem) {
    .zuwBFB {
        width: 315px;
        margin: 20px auto 0
    }
}

.kfZPbb {
    display: flex;
    justify-content: space-between;
    width: 343px;
    margin: 30px auto 0
}

@media (min-width:37.5rem) {
    .kfZPbb {
        width: 335px
    }
}

@media (max-width:37.5rem) {
    .Oy94-I+.Oy94-I {
        margin-left: -1px
    }
}

.wBxmgd {
    flex: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    box-shadow: none;
    text-align: right;
    outline: 0;
    box-sizing: border-box;
    line-height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, .87)
}

.wBxmgd::placeholder {
    color: rgba(0, 0, 0, .26)
}

.I9WEnv {
    text-align: left!important;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 12px;
    color: rgba(0, 0, 0, .87);
    width: calc(100% - 13px);
    max-width: 350px;
    margin: 29px auto 0;
    display: block
}

.Oy94-I {
    box-sizing: border-box;
    padding: 0;
    margin: 0 10px;
    outline: none;
    background-color: transparent;
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    box-shadow: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    font: small-caption;
    font-size: 28px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0
}

.Oy94-I:-webkit-autofill {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

.Oy94-I.bLJmuT {
    border-bottom: 1px solid rgba(0, 0, 0, .56)
}

.Oy94-I.bLJmuT.bX3sJJ,
.Oy94-I.bX3sJJ {
    background: rgba(255, 66, 79, .05);
    border-bottom: 1px solid #ff424f
}

@media (min-width:37.5rem) {
    .Oy94-I {
        border-bottom: 1px solid rgba(0, 0, 0, .14);
        border-radius: 0;
        width: 40px;
        height: 50px;
        font-weight: 500
    }
}

.zuwBFB+._4sc1kS {
    margin-top: 20px
}

._4sc1kS {
    display: block;
    width: calc(100% - 13px);
    height: 44px;
    max-width: 350px;
    margin: 29px auto 0;
    font-size: 16px
}

@media (min-width:37.5rem) {
    ._4sc1kS {
        margin-top: 40px;
        width: 315px
    }
}

._2qXyN1 {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, .65)
}

._2qXyN1 .orangeText {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

@media (min-width:37.5rem) {
    ._2qXyN1 {
        margin-top: 31px
    }
}

.epoILI {
    color: rgba(0, 0, 0, .54)
}

.qgh9cb {
    border: 0;
    color: #08f;
    cursor: pointer
}

._1q\+1ba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    padding: 1rem .75rem;
    line-height: 1rem
}

._1OiM-q {
    height: .75rem;
    width: .75rem;
    fill: rgba(0, 0, 0, .54);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.T5n\+3n {
    margin-top: .625rem;
    background-color: #fff
}

@media (min-width:37.5rem) {
    .T5n\+3n {
        width: 31.25rem;
        margin: auto
    }
}

._4xjWXq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: .75rem;
    padding-right: .75rem;
    height: 3rem;
    position: relative
}

._4xjWXq:not(:last-child):after {
    content: "";
    bottom: 0;
    left: 3rem;
    right: 0;
    height: .0625rem;
    position: absolute;
    background: rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    ._4xjWXq:not(:last-child):after {
        left: 2.75rem
    }
}

.CKTG6c,
.Onnv3V {
    display: flex;
    align-items: center
}

.O8g8R7 img {
    height: 1.5rem;
    width: 1.5rem
}

.BURCQJ {
    margin-left: .75rem
}

@media (min-width:37.5rem) {
    .BURCQJ {
        margin-left: .5rem
    }
}

.jJdktP {
    margin-right: .75rem
}

.tx5IG0 {
    color: rgba(0, 0, 0, .54);
    font-size: .75rem;
    word-break: break-all
}

@media (min-width:37.5rem) {
    .tx5IG0 {
        font-size: .875rem
    }
}

._2intm {
    width: 100%;
    padding: .75rem 0;
    padding: var(--ns-c, .75rem) 0 var(--ns-c, .75rem) 0;
    text-align: center;
    position: relative
}

._2intm:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .0625rem;
    transform: scaleY(.5);
    background-color: rgba(0, 0, 0, .09);
    background-color: var(--nc-util-line, rgba(0, 0, 0, .09));
    bottom: 0;
    left: 0
}

._2intm ._1Hwsz {
    color: rgba(0, 0, 0, .87);
    color: var(--nc-text-primary, rgba(0, 0, 0, .87))
}

._2intm ._1bDmU,
._2intm ._1Hwsz {
    padding-left: 3rem;
    padding-left: calc(1.5rem + var(--ns-c, .75rem)*2);
    padding-right: 3rem;
    padding-right: calc(1.5rem + var(--ns-c, .75rem)*2)
}

._2intm ._1bDmU {
    padding-top: .25rem;
    padding-top: var(--ns-a, .25rem);
    color: rgba(0, 0, 0, .54);
    color: var(--nc-text-tertiary, rgba(0, 0, 0, .54))
}

._2intm ._1bDmU._3wIPk,
._2intm ._1Hwsz._3wIPk {
    padding-left: .75rem;
    padding-left: var(--ns-c, .75rem);
    padding-right: .75rem;
    padding-right: var(--ns-c, .75rem)
}

._2intm ._1G94d,
._2intm ._1jFe9,
._2intm .gTLyl {
    top: 0;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center
}

._2intm ._1G94d {
    right: .75rem;
    right: var(--ns-c, .75rem)
}

._2intm .gTLyl {
    left: .75rem;
    left: var(--ns-c, .75rem)
}

._1_DDs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    background: var(--nc-util-mask, rgba(0, 0, 0, .4))
}

._2iekt {
    background: #fff;
    box-shadow: 0 0 .375rem rgba(0, 0, 0, .06);
    box-shadow: var(--ne-depth6, 0 0 .375rem rgba(0, 0, 0, .06));
    border-radius: .25rem .25rem 0 0;
    width: 100%;
    max-height: 75%;
    bottom: 0;
    position: absolute
}

.AIkuEo {
    margin: .625rem 0;
    background-color: #fff
}

@media (min-width:37.5rem) {
    .AIkuEo {
        width: 31.25rem;
        margin: auto
    }
}

.iKN3Ie {
    width: 100%;
    display: flex;
    justify-content: center
}

.H8K47O {
    outline: 0;
    padding: .75rem;
    border-radius: 2px;
    margin: 1.125rem .375rem
}

.S48pCk {
    min-height: 20rem;
    width: 100%;
    flex-direction: column
}

.dtJ4mV,
.S48pCk {
    display: flex;
    align-items: center;
    justify-content: center
}

.dtJ4mV {
    position: relative;
    margin-top: 12px;
    height: 59px;
    width: 270px
}

@media (min-width:37.5rem) {
    .dtJ4mV {
        margin-top: 22px
    }
}

.zU7Ybu {
    width: 100%;
    height: 100%
}

.usJWMR {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.375rem;
    height: 11.375rem
}

._3y4IMb {
    pointer-events: all!important;
    -webkit-touch-callout: unset!important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.dIzAbx {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: .375rem
}

.rk1aiA {
    text-align: center;
    color: rgba(0, 0, 0, .54);
    font-size: .75rem;
    word-wrap: break-word;
    width: 80%;
    margin-top: .75rem
}

@media (min-width:37.5rem) {
    .rk1aiA {
        font-size: .875rem
    }
}

.rk1aiA .boldText {
    color: #4a4a4a
}

.rk1aiA .orangeText {
    color: #ee4d2d;
    -webkit-text-fill-color: #ee4d2d
}

.doli6l {
    margin-top: 1rem
}

._5wMIiu {
    margin-top: .625rem;
    background-color: #fff
}

@media (min-width:37.5rem) {
    ._5wMIiu {
        width: 31.25rem;
        margin: auto
    }
}

.sEn9CL {
    box-sizing: border-box;
    flex-direction: column;
    margin: 12px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0
}

.ht8jdV,
.sEn9CL {
    display: flex;
    align-items: flex-start
}

.ht8jdV {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #fff;
    line-height: 24px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    width: 100%;
    margin: 0 auto
}

._8MEAXb {
    width: 70%
}

.PnzVH9 {
    background-color: #f5f5f5
}

.UiBj2E {
    min-width: 143px;
    text-transform: capitalize
}

.bob3kC,
.UiBj2E {
    color: rgba(0, 0, 0, .65);
    font-size: 12px;
    font-weight: 600
}

.bob3kC {
    margin-left: 6px;
    text-align: right
}

._59vM37 {
    min-width: 143px;
    text-transform: capitalize
}

._59vM37,
.HHksIa {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 400
}

.HHksIa {
    margin-left: 6px;
    text-align: center;
    margin-right: 14px
}

.XTFwAS {
    margin-top: 20px;
    height: 16px;
    display: flex;
    justify-content: center
}

@media (min-width:600px) {
    .XTFwAS {
        display: flex;
        height: 16px;
        justify-content: center
    }
}

.iwZg24 {
    position: fixed;
    bottom: 4.375rem
}

@media (min-width:37.5rem) {
    .iwZg24 {
        position: relative;
        bottom: 0;
        z-index: 1000
    }
}

.iwZg24 a {
    color: #066bc8;
    font-size: 16px;
    line-height: 16px
}

.OS6\+ZC {
    background: #fff;
    padding: .3125rem;
    box-sizing: border-box;
    width: 100%;
    position: relative
}

@media (min-width:37.5rem) {
    .OS6\+ZC {
        padding: 1.25rem 0 1.5625rem;
        max-width: 600px;
        width: 31.25rem;
        margin: 0 auto
    }
}

.xrAcVM {
    padding-bottom: 230px
}

.LzHJU6 {
    border: 1px solid rgba(65, 34, 34, .13);
    border-radius: .1875rem
}

.cCcd0E {
    background-color: #fff;
    padding: 1.3125rem .875rem 0
}

.cCcd0E img {
    max-width: 12.5rem;
    height: auto;
    object-fit: contain
}

.cCcd0E .tIPPyy {
    margin-top: 1rem;
    height: 1px;
    background: rgba(0, 0, 0, .09)
}

.AsJ6VF,
.JlUDzd {
    text-align: center
}

.AsJ6VF {
    margin-top: .75rem;
    font-size: 1rem
}

._9e7ou- {
    padding: 1.5rem 1.25rem 1.875rem;
    background-color: #fff;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -116px;
    flex: 1;
    height: 100%
}

@media (min-width:37.5rem) {
    ._9e7ou- {
        padding: 1.5rem .625rem;
        width: 31.25rem;
        line-height: 1.25rem;
        margin: 0 auto;
        font-size: 1rem;
        box-sizing: border-box
    }
}

._6RABMV {
    width: 7.5rem;
    height: 7.5rem
}

.EQj5-w {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgba(0, 0, 0, .54)
}

.EQj5-w,
.LeyMj8 {
    text-align: center
}

.LeyMj8 {
    line-height: 1.25rem;
    margin-bottom: .75rem;
    font-weight: 500;
    font-size: 1rem;
    color: rgba(0, 0, 0, .65)
}

@media (min-width:37.5rem) {
    .LeyMj8 {
        font-size: 1.125rem
    }
}

._9e7ou- .QqpO4V {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 44px
}

@media (min-width:37.5rem) {
    ._9e7ou- .QqpO4V {
        width: 27.75rem
    }
}

._9e7ou- .m5msxu {
    font-size: .875rem;
    color: rgba(0, 0, 0, .87);
    border: 1px solid rgba(0, 0, 0, .09);
    height: 2.75rem;
    line-height: 1.25rem;
    padding: .75rem;
    box-sizing: border-box;
    flex: 1;
    max-width: 70vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: .125rem 0 0 .125rem
}

@media (min-width:37.5rem) {
    ._9e7ou- .m5msxu {
        height: 44px;
        max-width: 19.375rem
    }
}

.zgtUra {
    padding: 0 .75rem;
    margin-top: .125rem;
    margin-bottom: .75rem;
    display: flex;
    justify-content: center
}

.zgtUra img {
    width: 21.9375rem;
    height: 11.8125rem
}

.y-F4Li {
    flex: 1;
    height: 100%
}

@media (min-width:37.5rem) {
    .y-F4Li {
        width: 31.25rem;
        margin: 0 auto;
        font-size: 1rem;
        box-sizing: border-box
    }
}

.y-F4Li p {
    font-size: .75rem;
    line-height: 1.125rem;
    color: rgba(0, 0, 0, .54);
    margin: 0;
    padding: .75rem .75rem .5rem
}

@media (min-width:37.5rem) {
    .y-F4Li p {
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.25rem;
        color: rgba(0, 0, 0, .54);
        margin: 1.5rem 0 1rem;
        padding: 0
    }
}

.y-F4Li .uwfQd5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    padding-left: .75rem;
    height: 3rem;
    background: #fff;
    box-shadow: inset 0 -.5px 0 rgba(0, 0, 0, .09)
}

@media (min-width:37.5rem) {
    .y-F4Li .uwfQd5 {
        padding: 0;
        width: 30.5rem;
        height: 3.25rem;
        margin-left: .75rem;
        box-shadow: none
    }
}

.y-F4Li .lx3t3L {
    font-size: .875rem;
    line-height: 1rem
}

@media (min-width:37.5rem) {
    .y-F4Li .lx3t3L {
        font-size: 1rem;
        line-height: 1.25rem;
        color: rgba(0, 0, 0, .87)
    }
}

._1ELZ2 {
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    margin-right: .5rem;
    margin-right: var(--ns-b, .5rem)
}

._1ELZ2 ._2cwEM,
._1ELZ2 ._2v6v5 {
    color: #ee4d2d;
    color: var(--nc-primary, #ee4d2d)
}

._2v6v5 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: .0625rem solid rgba(0, 0, 0, .54);
    border: .0625rem solid var(--nc-text-tertiary, rgba(0, 0, 0, .54));
    box-sizing: border-box;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .625rem;
    outline: 0;
    margin: 0
}

._2v6v5:checked:not(:disabled) {
    border: .125rem solid
}

._2v6v5:checked:not(:disabled)~._2cwEM {
    display: block
}

._2v6v5:disabled {
    border-color: rgba(0, 0, 0, .26);
    border-color: var(--nc-util-disabled, rgba(0, 0, 0, .26));
    background: #f5f5f5;
    background: var(--nc-util-bg, #f5f5f5)
}

._2v6v5:disabled:checked {
    border-width: .125rem
}

._2v6v5:disabled:checked~._2cwEM {
    display: block;
    background: rgba(0, 0, 0, .26);
    background: var(--nc-util-disabled, rgba(0, 0, 0, .26))
}

._2cwEM {
    position: absolute;
    display: none;
    width: .5rem;
    height: .5rem;
    border-radius: .25rem;
    background: currentColor;
    top: .375rem;
    left: .375rem
}

.Bej8I {
    align-items: center;
    display: flex
}

.Bej8I.d5e-M {
    flex-grow: 1
}

._3TpDO {
    flex: 1;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent
}

._3TpDO._3AQ9Q {
    color: rgba(0, 0, 0, .26);
    color: var(--nc-util-disabled, rgba(0, 0, 0, .26))
}

._21AMp.d5e-M {
    display: flex
}

.e2e0mD {
    background-color: #fff;
    padding: 1rem .75rem .625rem;
    flex: 1;
    color: rgba(0, 0, 0, .54);
    font-size: .875rem;
    line-height: 1rem;
    word-wrap: break-word
}

@media (min-width:37.5rem) {
    .e2e0mD {
        font-size: .875rem
    }
}

.fwaVEx {
    display: flex;
    flex-direction: column;
    padding: .75rem;
    font-size: .875rem;
    font-weight: 700;
    background-color: #fff;
    margin-bottom: .75rem
}

@media (min-width:37.5rem) {
    .fwaVEx {
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
        justify-content: space-between;
        align-items: center;
        width: 31.25rem;
        padding: 1.25rem 0;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 400
    }
}

.gnhnjF {
    width: 70%
}

.dmEgos {
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .65)
}

@media (min-width:37.5rem) {
    .dmEgos {
        color: #333
    }
}

.ip0cFv {
    color: #ee4d2d;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .3125rem;
    margin-bottom: .3125rem
}

._4fT2w4 {
    color: #26aa99;
    margin-left: 4px;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width:37.5rem) {
    ._4fT2w4 {
        margin-left: 1.4375rem
    }
}

.B5-vPH {
    width: 31.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0 auto
}

._3rDXSV,
.B5-vPH {
    display: flex;
    justify-content: center
}

._3rDXSV {
    color: rgba(0, 0, 0, .54);
    font-size: .75rem;
    margin: .75rem auto .5rem;
    padding: 0 .75rem
}

@media (min-width:37.5rem) {
    ._3rDXSV {
        width: 31.25rem
    }
}

._8GarcI {
    width: 100%;
    text-align: left
}

._8yEn62 {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .75rem;
    line-height: 1rem;
    margin-bottom: .625rem
}

@media (min-width:37.5rem) {
    ._8yEn62 {
        width: 31.25rem;
        margin: 0 auto
    }
}

._1y-meU {
    height: .75rem;
    width: .75rem;
    fill: rgba(0, 0, 0, .54);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

/* .b6RBcK {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 56px;
    padding-bottom: 116px;
    overflow: scroll;
    font-size: 14px;
    color: rgba(0, 0, 0, .87)
} */
.b6RBcK {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5rem;
    padding-bottom: 7.25rem;
    overflow: scroll;
    font-size: .875rem;
    color: rgba(0, 0, 0, .87)
}

@media (min-width:37.5rem) {
    /* .b6RBcK {
        max-width: 1180px;
        margin: 30px auto;
        padding-bottom: 20px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .14);
        border-radius: 3px;
        font-size: 16px;
        overflow: auto
    } */
    .b6RBcK {
        max-width: 1180px;
        margin: 1.875rem auto;
        padding-bottom: 1.25rem;
        background-color: #fff;
        box-shadow: 0 .1875rem 0.625rem rgba(0, 0, 0, .14);
        border-radius: .1875rem;
        font-size: 1rem;
        overflow: auto
    }
}

.UsOlTK {
    margin-top: 0;
    max-width: 100%
}

/* .bu-Qqt {
    padding-bottom: 85px
} */
.bu-Qqt {
    padding-bottom: 5.3125rem
}

.uX6iSw {
    padding-bottom: 0
}

.zKBye- {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.zKBye-::-webkit-scrollbar {
    width: 0!important
}

.xvx6aw {
    margin-top: -44px
}

.DO1sQ8 {
    position: absolute;
    top: 50%
}

.ZGIoSc {
    width: 100%;
    background-color: #fff
}

.ZGIoSc,
.ZGIoSc iframe {
    min-height: calc(100vh - 3.5em)
}

@media (min-width:37.5rem) {
    .ZGIoSc iframe {
        min-height: 700px
    }
}

.showgap {
    margin-top: 12px
}

@media (min-width:37.5rem) {
    .showgap {
        margin-top: 24px
    }
}

.showgap~.showgap {
    margin-top: 0
}

.PefPMw {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 56px;
    padding-bottom: 116px;
    overflow: scroll;
    font-size: 14px;
    color: rgba(0, 0, 0, .87)
}

@media (min-width:37.5rem) {
    .PefPMw {
        max-width: 1180px;
        margin: 30px auto;
        padding-bottom: 20px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .14);
        border-radius: 3px;
        font-size: 16px;
        overflow: auto
    }
}

._1l-oHb {
    margin-top: -44px
}

.Ju3uNx {
    padding: 30vh 0;
    text-align: center
}

.IxPL51 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px
}

@media (min-width:37.5rem) {
    .IxPL51 {
        font-size: 18px
    }
}

.FkEaA5 {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, .54)
}

@media (min-width:37.5rem) {
    .FkEaA5 {
        font-size: 16px;
        line-height: 18px
    }
}

.pYX8T- {
    margin-top: 20px;
    line-height: 16px
}

._7YPSac._7YPSac {
    background: transparent
}

@media (min-width:37.5rem) {
    .yQblTF {
        max-width: 500px;
        padding: 0 30px 20px
    }
}

.eqIycs {
    display: none
}